@use '@/style/variables' as *;

.button {
    cursor: pointer;
    border-radius: $radius;
    border: 0;
    box-shadow: $shadow; 
    background-color: var(--primary);
    color: var(--white);
    transition: $animation-seconds;
    &:hover {
        opacity: $opacity;
        transition: $animation-seconds;
    }
}