@use 'variables' as *;

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --text: hsl(220, 9%, 7%);
  --background: hsl(240, 26%, 93%);
  --primary: hsl(233, 45%, 28%);
  --secondary: hsl(234, 64%, 65%);
  --accent: hsl(234, 83%, 47%);
  --white: #fff;
  --black: #000;
  background-color: var(--background);
  color: var(--text);
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.2px;
}

::selection {
  background-color: var(--primary);
  color: var(--background);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--text);
  transition: color 0.3s;
  &:hover {
    color: var(--primary);
    transition: color 0.3s;
  }
}
