:root.dark {
  --text: hsl(220, 9%, 93%);
  --background: hsl(240, 26%, 7%);
  --primary: hsl(233, 45%, 72%);
  --secondary: hsl(234, 64%, 35%);
  --accent: hsl(234, 83%, 53%);
}

$shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
$radius: 4px;
$opacity: 0.8;
$animation-seconds: 0.4s;
