@use '@/style/variables' as *;

.input {
  border-radius: $radius;
  border: 0;
  box-shadow: $shadow;
  background-color: var(--accent);
  color: var(--text);
  transition: all $animation-seconds;
  &:focus {
    outline: 1px solid var(--primary-700);
    transition: all $animation-seconds;
  }
}
